
hr{
    border-top: 2px solid rgb(185, 195, 70);
}
li a{
    color: white;
    font-family: cinzel;
}
a:hover{
    color: #11a30e;
}

.sous-titre{
    padding-bottom: 10%;
    padding-top: 24%;
}
.separation{
    background-image: url("../img/hyrule_rule.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2%;
}
.zelda {
    font-size: 5rem;
}

.graphiques{
    background-color: black;
}

.list-group-item{
    background-color: #d9a936;
    border: 2px solid rgb(9, 60, 25);
}
.form-control{
    background-color: #ceb373ad;
    border: 2px solid rgb(255, 255, 255);
}


