

<mat-card class="card" >
    <mat-card-header class="cardHeader" >
        <mat-card-title class="cardTitle">{{forfait.destination}} </mat-card-title>
        <mat-card-subtitle  class="cardSubTitle">de {{forfait.villeDeDepart}}</mat-card-subtitle>
      <div  *ngIf="forfait.forfaitVedette">
       <mat-card-subtitle class="cardSubTitle">Forfait Vedette</mat-card-subtitle>
      </div>
    </mat-card-header>
    <mat-card-content class="cardContent">
       Hotel {{forfait.hotel.nom}} 
    </mat-card-content>
    <mat-card-actions class="cardActions">

        <div *ngIf="forfait.rabais>0; else elseBlock" class='cardPrix'>
            <p class='prixSansRabais'>{{forfait.prix}}$</p>
            <p class='prixRabais'>{{forfait.rabais}}$</p>
            <p class='prixAvecRabais'>{{forfait.prix-forfait.rabais}}$</p>
        </div>
        <ng-template #elseBlock><p>{{forfait.prix}}$</p></ng-template>
        
    </mat-card-actions>
    <mat-card-footer class="cardFooter">
        <p>{{forfait.hotel.etoiles}} étoiles</p>
        
        <p>{{forfait.dateDeDepart}}, 7 jours</p>
    </mat-card-footer>
  </mat-card>