/*<!-- style.css -->*/
/*<!-- Projet final - Programmation1 - par Eric Martins -->*/
/*<!-- Crée le 26 mars 2020 -->*/
/*<!-- Dernier mise à jour le 11 avril 2020 -->*/

/*classe pour cacher des elements*/
.hide{
    display: none;
}

/*allignment du texte dans l'input de l'étape 1*/
input{
    text-align:center;
}

/*diférents types de bordures*/
.borderBlack{
    border: 1px solid black;
}

.borderWhite{
    border: 2px solid white;
}

.borderRed{
    border: 1px solid red;
}

.borderBlue{
    border-image-outset: 2px;
    border: solid blue;
}

/*Fin des bordures*/


header{
    color: white;
    background-color: black;
}


/*couleurs utilisés pour du text et pour les fontAwesome*/
.red{
    color: red;
}

.black{
    color: black;
}
/*fin des couleurs*/




/*Permet l'apparition du background en impression*/
@media print {
    * {
        -webkit-print-color-adjust: exact;
    }
}




/*différents configurations visuels du carousel d'images*/
.carousel {
    width: 100%;
}

.slide-box {
    display: flex;
    justify-content: center;
}

.slide-box img {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: .5rem;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: black;
}

.carousel-indicators {
    bottom: -40px;
}

.carousel-indicators .active {
    background-color: white;
}
