.iconLink{
  color: steelblue
}

.iconLink:hover{
  transition: 0.4s  ease ;
  color: white
}

.imgLink{
  filter: grayscale(95%);
}

.imgLink:hover{
  transition: 0.7s ease ;
  transform: scale(1.1);
  filter: none;

}

.imgContainer{
  overflow: hidden;
}

.cardDrop{
  -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
      
}

.cardDrop:hover{
  transition: 0.7s ease;
  -webkit-box-shadow: 5px 5px 5px 0px rgb(87, 87, 87) ;
  -moz-box-shadow: 5px 5px 5px 0px rgb(87, 87, 87);
  box-shadow: 5px 5px 5px 0px rgb(87, 87, 87); 
}



@media (max-width: 575px) {
  .contactFont{
      font-size: 0.7em ;
  } 
}

@media (min-width: 576px) {
  .contactFont{
      font-size: 0.8em ;
  } 
}


@media (min-width: 768px) { 
  .contactFont{
    font-size: 0.9em;
  } 
}


@media (min-width: 992px) {  
  .contactFont{
  font-size: 1em;
  }  
}


@media (min-width: 1200px) {  
  .contactFont{
  font-size: 1.3em ;
  } 
}