html,body { margin:0; height:100%;}

body{
    background-color: black;
}
.parallax {
    /* L’hauteur du Parallax */
    height: 100%;
    /* Création de l’effet */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg1{
    background-image: url("../img/wolf.jpg");

}

.bg3{
    background-image: url("../img/wolfbg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.floater{
    border: white 5px solid;
    background-color: #f7b402;
}



body {
    font-family: Montserrat, sans-serif;
}

section {
    min-height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section h1 {
    font-weight: 900;
    font-size: 5rem;
    line-height: 0.78;
    text-transform: uppercase;
    /*color: #fff;*/
}

span {
    display: inline-block;
}


span.wallStreet {
    display: inline-block;
    color: #f7b402;

}

span.theWolfOf {
    display: inline-block;
    color: #fff;
}


.play-button {
    width: 152px;
    height: 152px;
    position: relative;
    cursor: pointer;
}

.play-backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
}

.play-close {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    bottom: calc(100% + 15px);
    border: none;
    outline: none;
    background: none;
    opacity: 0;
    cursor: pointer;
}

.play-close::before,
.play-close::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotate(45deg);
    background-color: #fff;
}

.play-close::after {
    transform: rotate(-45deg);
}

.play-circles {
    display: block;
    width: 100%;
    height: 100%;
}

.play-perspective {
    width: 600px;
    height: 400px;
    position: absolute;
    left: -230px;
    top: -125px;
}

.play-triangle {
    width: 600px;
    height: 400px;
    background-color: #000000;
    cursor: pointer;
}


