<div><span id='page2'>Page2</span>
    <app-entete></app-entete>
    <span id='bodyPage2'>
        <app-recherche class='item'></app-recherche>
        <span class='item' id='hero2-container'>
            <app-hero2 [mot]='message.mot1'></app-hero2>
            <app-hero2 [mot]='message.mot2'></app-hero2>
            <app-hero2 [mot]='message.mot3'></app-hero2>
            <app-hero2 [mot]='message.mot4'></app-hero2>
            <app-hero2 [mot]='message.mot5'></app-hero2>
        </span>
    </span>
    <app-pied-page></app-pied-page>
</div>

