html,body { margin:0; height:100%;}


.parallax {
    /* Création de l’effet */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face {
    font-family: Carbon;
    src: url("../font/carbon.ttf");
}

.zone1{
    height: auto;
    background-image: url("../img/zone1bg.jpg");
}

.zone1 .h1{
    font-family: Carbon, serif;
}

.colFeu{
    color: firebrick;
}

.noirSombreBlanc{
    color: black;
    text-shadow: 2px 2px 8px white;
    font-weight: bold;
}

.sombre{
    text-shadow: 5px 5px 20px black;
}

.title_adjust{
    font-size: 43px;
    color: black;
    text-shadow: none;
}

.zone1 .p{
    font-size: 24px;
    color: whitesmoke;
}

.bgOpaqueZone1_1{
    background-color: rgba(126, 242, 255, 0.65);
    margin-top: 3em;
    margin-bottom: 6em;
}

.bgOpaqueZone1_2{
    background-color: rgba(215, 102, 0, 0.65);
    color: white;
}

.boxLogo{
    background-color: rgba(0, 0, 0, 0.25);
}

.fa-check{
    color: red;
}

.zone3{
    height: 700px;
    background-image: url("../img/altered_zone3.jpg");
}

.zone4{
    height: 700px;
    background-image: url("../img/altered_zone4.jpg");
}

.zone5{
    height: 80%;
}

.zone5_1{
    background-color: cadetblue;
 }

.zone5_2{
    background-color: #8b2f23;
}

.zone5_3{
    background-color: #144c70;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;
    background-color:#FFFF00;
    height: 1px;
}

/*<!--MEDIA QUERIES*/

@media only screen and (max-width: 411px){
    .zone1{
        height: 100%;
        background-image: url("../img/AC_pixel2.jpg");
    }
    .bgOpaqueZone1_1{
        background-color: rgba(126, 242, 255, 0.45);
        margin-top: 1rem;
        margin-bottom: 25rem;
    }
    .bgOpaqueZone1_1 .p{
        display: none;
    }


    .zone2 {
        display: none;
    }

    .zone3{
        height:auto;
    }

    .zone4{
        height:auto;
    }

    .zone5_2{
        display: none;
    }
}