.navbar-custom {
    background-color: #006600;
}


.rotated {
    transform: rotate(180deg);
}

.parallax {
    /* L’hauteur du Parallax */
    height: 100%;
    /* Création de l’effet */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

hr{
    background-color: black;
}


.baniere{
    background-image: url("../img/sintra.jpg");
}

.sintra{
    display: inline;
}

.sectionJumbotronModal .h1 {
    font-weight: bolder;
    color: #050043;
}

.buttonVoirPhotos {
    background-color: #050043;
    color: white;
}

.texteBaniere{
    background-color: rgba(255, 229, 12, 0.9);
    margin-top: auto;
    margin-bottom: 10%;
}


.lisbon,.porto{
    display: none;
}

.jumbotron{
    background-color: white;
}

.sectionJumbotronModal{
    background-image: url("../img/azulejo.jpg");
}

.SectionJumbotronCard{
    background-image: url("../img/bgWood.jpg");

}

.bgGastronomie{
    background-color: #3b5998;
}


.bgModal{
    background-color: darkred;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-indicators {
    bottom: -40px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {
    .baniere{
        background-image: url("../img/lisbon.jpg");
    }
    .porto,.sintra{
        display: none;
    }
    .lisbon{
        display: inline;
    }

    .texteBaniere{
        margin-top: 5%;
        margin-bottom: auto;
    }

}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 576px) and (max-width: 768px) {
    .baniere{
        background-image: url("../img/imagem_porto.jpg");
    }
    .porto{
        display: inline;
    }

    .lisbon,.sintra{
        display: none;
    }


    .texteBaniere{
        margin-top: auto;
        margin-bottom: 5%;
    }
}