/*<!-- style.css -->*/
/*<!-- Projet final d'Integration1 par Eric Martins -->*/
/*<!-- Crée le 12 mars 2020 -->*/
/*<!-- Dernier mise à jour le 04 avril 2020 -->*/



/* Google maps noir et blanc */
.map {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}
/*  Fin Google map */

/* sections regions */
/* section baniere video */
.video {
    position: relative;
    background-color : black;
    height: 100%;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

.video video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform : translateX(-50%) translateY(-50%);
    -webkit-transform : translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

css .header .container {
    position: relative;
    z-index: 2;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color : black;
    opacity: 0.6;
    z-index: 1;
}
/* Fin section banière video */

#regionsAlgarve {
    background-color: #ff9300;
}

#regionsDouro {
    background-color: #9b111e;
}

#regionsGeres {
    background-color: #006600;
}

#bodyRegions {
    background-image: url("../img/bodyRegionsBg.jpg");
}

.fa-mountain,.fa-tree{
    color: white;
}

.borderVideo{
    border: 2px groove white;
}




/* section Douro */
/* Creation Image Grid */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
/* Creation 4 columns égales*/
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive 2 columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive 2  columns une sur l'autre */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}
/* fin section Douro */
/* fin sections regions */




/* NavBar */
.navbar-custom {
    background-color: #006600;
}

.rotated {
    transform: rotate(180deg);
}
/* Fin NavBar */



/* Section banière Paralax*/
.parallax {
    /* L’hauteur du Parallax */
    height: 100%;
    /* Création de l’effet */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.baniere{
    background-image: url("../img/sintra.jpg");
}

.sintra{
    display: inline;
}

.lisbon,.porto{
    display: none;
}

.texteBaniere{
    background-color: rgba(255, 229, 12, 0.9);
    margin-top: auto;
    margin-bottom: 10%;
}
/* Fin Section banière Paralax*/




hr{
    background-color: black;
}



/* Section Jumbotron/Modal/Carroussel */
.sectionJumbotronModal .h1 {
    font-weight: bolder;
    color: #050043;
}

.sectionJumbotronModal{
    background-image: url("../img/azulejo.jpg");
}

.bgModal{
    background-color: darkred;
}

.buttonVoirPhotos {
    background-color: #050043;
    color: white;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-indicators {
    bottom: -40px;
}
/*Fin section Jumbotron/Modal/Carroussel */


/* Section Jumbotron/Cards/buttons */
.jumbotron{
    background-color: white;
}

.SectionJumbotronCard{
    background-image: url("../img/bgWood.jpg");

}
.shadow {
    box-shadow: 2px 2px 4px #000000;
}
/* Fin section Jumbotron/Cards/buttons */



footer {
    background-color: black;
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {
    .baniere{
        background-image: url("../img/lisbon.jpg");
    }
    .porto,.sintra{
        display: none;
    }
    .lisbon{
        display: inline;
    }

    .texteBaniere{
        margin-top: 5%;
        margin-bottom: auto;
    }


}


/* Medium devices (landscape tablets) */
@media only screen and (min-width: 576px) and (max-width: 768px) {
    .baniere{
        background-image: url("../img/imagem_porto.jpg");
    }
    .porto{
        display: inline;
    }

    .lisbon,.sintra{
        display: none;
    }

    .texteBaniere{
        margin-top: auto;
        margin-bottom: 5%;
    }

}


/*Page trois - Divers*/
.sports{
    background-image: url("../img/euro.jpg");
}

.sportsTexte{
    background-color: rgba(255, 229, 12, 0.9);
    margin-top: 3%;
    margin-bottom: auto;
}

#monuments{
    background-color: firebrick;
}

.fa-fort-awesome{
    color: white;
}

#formContact{
    background-image: url("../img/infoContactBg.jpg");
}

#containerContact{
    background-color: #e8ca36;
    border: 2px solid dimgray;
}

#formContact{
    padding-top: 10%;
    padding-bottom: 10%;
}
/*Fin Page 3 - Divers*/


/*menu navBar*/
.dropdown-menu{
    background-color: #006600;
    border: 2px solid white;
}
.dropdown-menu a{
   color: white;
}

.dropdown-menu:active {
    border: 1px solid white;
}
/*Fin menu navBar*/