<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Examen 1 - exercice 3</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <style>
      .underlined{
        text-decoration: underline;
      }
  </style>
  <body>
    <div id="app">
        <h1 v-bind:class='getClass'> {{getPrefix}} {{firstname}} {{lastname}} </h1> 
        <p>Firstname: <input v-model="firstname"></p>
        <p>Lastname: <input v-model="lastname"></p>
        <input type="checkbox" id="checkbox" v-model="underlined">
        <label for="checkbox">Underlined</label>
        <br>
        <br>
        <div v-for="genre in genres">
            <input type="radio" id="genre" :value="genre" v-model="selectedGenre">
            <label for="genre">{{genre}}</label>
        </div>
        <br>
    </div>

    <script>
      let vm = new Vue({
        el: "#app",
        data: {
            firstname: "Eric",
            lastname: "Martins",
            underlined: false,
            selectedGenre: 'Homme',
            genres: ['Homme','Femme']
        },
        computed: {
          getClass() {
            let myClass = "";
            if (this.underlined === true) {
              myClass = "underlined";
            } else {
              myClass = "";
            }
            return myClass;
          },
          getPrefix(){
              let prefix='';
              if (this.selectedGenre==='Homme'){
                    prefix='Mr';
              } else {
                    prefix='Ms';
              }
              return prefix
          }
        },
      });
    </script>
  </body>
</html>