.modal-body {
    background-image: url(../img/estadio.jpg);
}

.jumbotron {
    background: url("../img/taca.jpg") no-repeat center center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

h5.modal-title{
    margin: auto;
    text-transform: uppercase;
}

.modal-header,.modal-footer{
    background-color: #1b1e21;
}



.header {
    position: relative;
    background-color : black;
    height: 100%;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}
.header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform : translateX(-50%) translateY(-50%);
    -webkit-transform : translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

css .header .container {
    position: relative;
    z-index: 2;
}

video  {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color : black;
    opacity: 0.6;
    z-index: 1;
}

hr{
    background-color: white;
}