
.modal-body {
    background-image: url(../img/estadio.jpg);
}

.jumbotron {
    background: url("../img/taca.jpg") no-repeat center center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

h5.modal-title{
    margin: auto;
    text-transform: uppercase;
}

.modal-backdrop.show {
    background-color: #f00;
    opacity: 0.75;
}

.modal-header{
    background-color: #1b1e21;
}

.modal-footer{
    background-color: #1b1e21;
}